<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<div class="panel panel-default" id="messages">
    <div class="panel-body">
      <ul class="media-list">
        <%= render 'message' %>
      </ul>
    </div>
</div>

<div style="margin-top:15px">
  <%= form_for [@conversation, @message] do |f| %>
    <div class="form-group">
      <%= f.text_area :body, rows: 3, class: 'form-control', maxlength: 2000 %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    </div>
    <%= f.submit 'Send', class: 'btn btn-primary btn-md' %>
  <% end %>
</div>
