<p id="notice"><%= notice %></p>

<h1><%= @profile.user.username %></h1>

<p>
  <strong>Class Rank:</strong>
  <%= @profile.class_rank %>
</p>

<p>
  <strong>Socioeconomic Status:</strong>
  <%= @profile.socioeconomic_status %>
</p>

<p>
  <strong>Living Situation:</strong>
  <%= @profile.living_situation %>
</p>

<p>
  <strong>Sexual Orientation:</strong>
  <%= @profile.sexual_orientation %>
</p>

<p>
  <strong>Comfort With Sexuality:</strong>
  <%= @profile.comfort_with_sexuality %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>First Generation College Student:</strong>
  <%= @profile.is_first_generation_college_student %>
</p>

<p>
  <strong>Physically Disabled:</strong>
  <%= @profile.is_physically_disabled %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @profile.is_parent %>
</p>

<p>
  <strong>Single Parent:</strong>
  <%= @profile.is_single_parent %>
</p>

<p>
  <strong>From Foster Care:</strong>
  <%= @profile.is_from_foster_care %>
</p>

<p>
  <strong>Intercollegiate Athlete:</strong>
  <%= @profile.is_intercollegiate_athlete %>
</p>

<p>
  <strong>Military:</strong>
  <%= @profile.is_military %>
</p>

<p>
  <strong>Out Of State Student:</strong>
  <%= @profile.is_out_of_state_student %>
</p>

<p>
  <strong>International Student:</strong>
  <%= @profile.is_international_student %>
</p>

<p>
  <strong>Is transfer student:</strong>
  <%= @profile.is_transfer_student %>
</p>

<h1> Characteristics </h1>
<% @profile.characteristics.each do |characteristic| %>
  <h5> <%= characteristic.name %> </h5>
<% end %>

<%= link_to 'Edit', edit_profile_path(@profile) , class: 'btn btn-default btn-sm' %> |
<%= link_to "Back", :back, class: 'btn btn-default btn-sm' %>
