<div class="ui segment">
  <h3>Conversations</h3>

  <div class="ui list">
    <div class="item">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <% if recipient.online? %>
            <div class="horizontal-align">
              <div class="online-status-indicator" style="display: inline-block;"></div>
              <%= link_to recipient.username, conversation_messages_path(conversation), :class => "contact-list-name" %>
            </div>
            <div class="status-text">Online</div>
          <% else %>
            <div class="horizontal-align">
              <div class="offline-status-indicator" style="display: inline-block;"></div>
              <div>
                <%= link_to recipient.username, conversation_messages_path(conversation), :class => "contact-list-name" %>
              </div>
            </div>
            <div class="status-text">Offline</div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="ui segment">
  <h3>All Users</h3>
  <div class="ui list">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
      <div class="item">
        
          <% if user.online? %>
            <div class="horizontal-align">
              <div class="online-status-indicator" style="display: inline-block;"></div>
              <%= link_to user.username, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', :class => "contact-list-name" %>
            </div>
            <div class="status-text">Online</div>
          <% else %>
            <div class="horizontal-align">
              <div class="offline-status-indicator" style="display: inline-block;"></div>
              <%= link_to user.username, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', :class => "contact-list-name" %>
            </div>
            <div class="status-text">Offline</div>
          <% end %>
          <% if !current_user.friends.include? user %>
              <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
          <% end %>

      </div>
      <% end %>
    <% end %>
  </div>
  
</div>


<div class="ui segment">
  <h3>Friends</h3>
  <div class="ui list">
    <% current_user.friends.each do |friend| %>
        <div class="item">
          <%= friend.username %>
          <%= link_to "Remove", friendship_path(:id => friend), :method => :delete %>
        </div>
    <% end %>
  </div>
  
   <div class="ui list">
        <h4>Friend Requests</h4>
        <div class="item">
            <% current_user.requested_friendships.each do |request| %>
            <li>
              <%= request.username %> 
              <%= link_to "Accept", friendship_path(:id => request), :method => "put" %> 
              <%= link_to "Decline", friendship_path(:id => request), :method => :delete %>
            </li>
          <% end %>
        </div>
    </div>
  
</div>
